<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 > Caesar Cipher Encoding </h1>
  	<form>
      <input type='text' name='message' />
      <input type='text' name='shift' />
      <input type='submit' value='Encrypt' />
    </form>
    <p>
      "Your name :"
      <%=
        "#{session[:name]}"
      %>
      "Your encrypted message :"
      <%=
        "#{encrypted}"
      %>
    </p>
  </body>
</html>
