<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 > Game Over </h1> 
    <%= "#{winOrLose}" %>
    <p>
      <%= session[:hangman].chooseImage%>
    </p>
    <p>
      The word was <%=session[:hangman].word%>
    </p>
  </body>
</html>
