<html>
  <head>
    <style>
      body {
        background: yellow;
      }
    </style>
  </head>
  <body>
    <h1 > Hangman Guess Page </h1>
    <p>
      
    </p>
  	<form method="post" action="/hangman/guess">
      <input type='text' name='guess' />
      <input type='submit' value='Guess' />
    </form>
    <p>
      <%= session[:hangman].chooseImage%>
      <%= 
        "#{guessMessage}"
      %>
      <%=
        "#{session[:hangman].displayProgress}"
      %>
    </p>
  </body>
</html>
