<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 > Hangman </h1>
    <p>
      
    </p>
  	<form method="post" action="/hangman/guess">
      <input type='text' name='guess' />
      <input type='submit' value='Guess' />
    </form>
    <p>
      <%= session[:hangman].chooseImage%>
    </p>
    <p>
      <%= 
        "#{guessMessage}"
      %>
      <%=
        "#{session[:hangman].displayProgress}"
      %>
    </p>
    <form method="post" action="/hangman/save">
      <input type='submit' value='Save' />
    </form>
  </body>
</html>
