<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1> Adam Hynson Web Development </h1>
    <p>
      "Hello,"
    </p>
    <div>
      <h3> Web Apps </h3>
      <a href="/cipher"> Cipher</a>
      <a href="/hangman"> Hangman</a>
    <div> 
  </body>
</html>
